.explore-container{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    height: 550px;
    color: rgb(41, 12, 12);
}
.explore img{
    width: 80%;
   height: 250px;
    border-radius: 10px;
}